// colors
// $color-one: #FFECCB;
// $color-two: #AA9571;
// $color-three: #D5FFCC;
// $color-four: #FFB5E7;
// $color-five: #CCE5FF;

// $color-one: #ec7471; // red
// $color-two: #ad7f7f; // gray red
// $color-three: #7279ed; // blue
// $color-four: #edd472; // yellow
// $color-five: #72ed99; // green

$color-one: #ed7472; // red
$color-two: #ba807f; // gray red
// $color-three: #7f9aad; // blue
$color-three: #7279ed;
$color-four: #eded72; // yellow
$color-five: #72baed; // green