@import 'config';
@import 'core';

/* ------------------------ */
/* Header section */
header {
  width:  100%;
  // min-height:  15vh;
  padding: 2rem 0;
}
nav {
  width:  100%;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav a {
  position: relative;
  padding: 0 1rem 1rem;
  text-decoration:  none;
  text-transform:  lowercase;
  letter-spacing:  2px;
  transition: transform .3s ease, color .3s ease;
}
nav a.active {
  color: $color-three;
}
nav a:last-child {
  padding-bottom: 0;
}
@media only screen and (min-width: 540px) {
  header h1 a { transition: color .3s ease; }
  header h1 a:hover { color: $color-three; }
  nav { flex-direction: row; }
  nav a { padding: 1rem; }
  nav a:last-child { padding-bottom: 1rem; }
  nav a:hover {
    transform: translateY(-5px);
    transition-duration: .6s;
  }
}

/* ------------------------ */
/* main containers */
section {
  width:  100%;
  // min-height: 80vh;
  // display: flex;
  // justify-content: center;
  // align-items:  center;
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0rem 2rem 4rem;
}
footer {
  width:  100%;
  min-height: 5vh;
  padding: 0 0 6rem;
}

// camera roll
.camera-roll {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin: 0;
    padding: 1rem;
    flex-basis: 100%;
    @media only screen and (min-width: 540px) {
      flex-basis: 50%;
    } 
  }
}

.thumbnail {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  a {
    position: relative; 
    display: block; 
  }
  &__item {
    margin: 0;
    padding: 1rem;
    flex-basis: 100%;
    &:hover .thumbnail__overlay {
      opacity: 0;
    }
    @media only screen and (min-width: 540px) {
      flex-basis: 33.33%;
    } 
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25rem .75rem .75rem;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity .6s ease;
    background-color: rgba(0, 0, 0, .8);
  }
}
.photos {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    text-align: center;
    margin: 0;
    padding: 1rem;
    flex-basis: 100%;
    @media only screen and (min-width: 540px) {
      &--half { flex-basis: 50%; }
      &--full { flex-basis: 100%; }
      flex-basis: 50%;
    } 
  }
}
//
/* ------------------------ */
/* dates */
// li {
//   margin-left:  1rem;
//   margin-bottom: 1.25rem;
// }
// .dates li:last-child {
//   margin-bottom:  0;
// }
// .dates a {
//   display: block;
//   margin-bottom: 0;
// }
// .dates li:after {
//   content: '---';
//   display: block;
//   font-size: 1rem;
//   font-weight: 500;
//   color: #fff;
//   line-height: 1.75rem;
//   text-decoration: none;
// }
// .dates__info p:nth-child(2) {
//   margin-bottom: 0;
// }
// .list-break {
//   margin: 1.25rem 0;
// }
/* ----------- */
// about
.about {
  img { max-width: 450px; }
}
/* ------------------------ */
/* contact */
.contact main {
  padding-top: 0;
}
.contact h2 {
  text-align:  center;
}